name: Upload To Azure

on:
  push:
    branches:
    - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: 'run npm'
      run: |
        npm install
        npm run build --if-present
        npm run test --if-present
    - uses: Azure/functions-action@v1
      with:
        app-name: DTMergeBot
        publish-profile: ${{ secrets.SCM_CREDENTIALS }}
